/* Form CSS */

/* Username */
div#username {
	margin-bottom: 10px;
}

input#input1 {
	margin-left: 40px;
}

/* Email */	
div#email {
	margin-bottom: 10px;
}
	
input#input2 {
	margin-left: 10px;
}

img#img-user,
img#img-email,
img#img-pass1,
img#img-pass2,
img#img-pass3,
img#img-pass4,
img#img-pass5,
img#img-city {
	height: 25px;
	width: 25px;
}

/* Password */
div#password {
	margin-bottom: 10px;
}

#password li {
	list-style-type: none;
}

input#input3 {
	margin-left: 44px;
}

/* City */
div#city {
	margin-bottom: 10px;
}

input#input4 {
	margin-left: 80px;
}