/* Lemon Meringue Pie.css */

/* Header */
h1 {
	background: #E0F2F7;
	text-align: center;
	color: #4B8A08;
	font-size: 36px;
	text-decoration: underline;
	font-weight: bold;
}

/* Pie */
.image {
	width: 250px;
	height: 250px;
	border-style: solid;
	border-width: 2px;
}

/* Pie Description */
ul.pie {
	padding-left: 0px;
	text-align: left;
}

/* Pie Description */
li.pie {
	list-style-type: none;
}

/* Various Sections */
.header {
	background: #E0F2F7;
	text-align:left;
	color: #86B404;
	font-size: 24px;
	text-decoration: underline;
}

/* Ingredient Section */
ul.ingredients {
	padding-left: 15px;
	text-align: left;
}

/* List Format */
li.custom {
	list-style-type: none;
	background: url(pie.png)no-repeat top left;
	background-size: 15px 15px;
	padding-left: 22px;
}

/* Direction Section */
ul.directions {
	padding-left: 15px;
	text-align: left;
}

/* Comment Background Format */
div.commentbackground {
	background: #F3E2A9;
	margin-left: 50px;
	margin-right: 50px;
}

/* Comment List Format */	
ul.comment {
	padding-left: 0px;
	text-align: left;
}

/* Line Break */	
.spacing {
	list-style-type: none;
	margin-bottom: 17px;
}

/* Link 1 Format */
p.link1 {
	color: #86B404;
	margin-bottom: 0px;
}

/* Link 2 Format */
p.link2 {
	color: #86B404;
}